@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-4">Inovasys Interview Web App</h2>

        <a asp-controller="Users"
           asp-action="Index"
           class="btn btn-primary btn-lg">
            Load Users
        </a>
    </div>
</div>


